<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.throtel.grocery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="false"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="A_Test.Activity.UpdateProfileTestActivity"
            android:exported="false" />
        <activity
            android:name="A_Test.Activity.MyProfileInfoActivity"
            android:exported="false" />
        <activity
            android:name="A_Test.Activity.ForgotPasswordTestActivity"
            android:exported="false" />
        <activity
            android:name="A_Test.Activity.HomeTestActivity"
            android:exported="false" />
        <activity
            android:name="A_Test.Activity.VerifyOtpTestActivity"
            android:exported="false" />
        <activity
            android:name="A_Test.Activity.LoginTestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="A_Test.Activity.SignUpTestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.SignUpBookActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.LoginbookActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.HomeBookActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.OTPVerifyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.ProductDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.GroupWiseCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.SubCategoryListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.ViewCartTabsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.AddressListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.AddNewAddressActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.CheckOutSelectSlotActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.PaymentOptionsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.OrderDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.CancelOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.OrderReturnsProductListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.ReturnProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.MyAccountProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.MyReturnOrderListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.ReturnOrderListDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.HelpDeskActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.PackDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.DailySubscribeProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.MySubscriptionDailyOrderDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.MonthlySubscribePackActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.MySubscriptionsTabsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.MySubscriptionMonthlyOrderDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.B2BGroupWiseCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.B2BSubCategoryListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.B2BProductDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.NotificationListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.RatingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.ViewAllOrderItemsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.SearchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="books.activity.OffersProductListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Choosemodule"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OTPVerifyActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProductDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GroupWiseCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubCategoryListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewCartTabsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddressListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddNewAddressActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheckOutSelectSlotActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentOptionsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CancelOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderReturnsProductListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReturnProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAccountProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyReturnOrderListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReturnOrderListDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpDeskActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PackDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DailySubscribeProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MySubscriptionDailyOrderDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MonthlySubscribePackActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MySubscriptionsTabsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MySubscriptionMonthlyOrderDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.B2BGroupWiseCategoryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.B2BSubCategoryListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.B2BProductDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RatingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewAllOrderItemsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OffersProductListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <!--
  <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_BJhpLshlVxMi9A" />
        -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_0NoVzbVRnK4EUy" />

        <activity
            android:name=".activity.SearchProductActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.FCMMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/app_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>